.move-right {
	margin-left: 25px;
}
.spinner-margin {
  margin-left: 45%;
  margin-top: 20%;
}
#starships dl {
	margin-top: -20px;
}
#starships li:hover {
	background: rgb(229, 229, 229);
}
.cost {
	margin-left: 20%;
}